<figure class="figure">
  <img src="../../../assets/images/img_1.png"
       class="figure-img img-thumbnail img-fluid rounded"
       alt="Acorners in a figure.">
  <figcaption class="figure-caption">Movie 1 Title</figcaption>
  <figcaption class="figure-caption"><i class="bi bi-star"></i><b>9.5/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/img_1.png"
       class="figure-img img-thumbnail img-fluid rounded"
       alt="Acorners in a figure.">
  <figcaption class="figure-caption">Movie 1 Title</figcaption>
  <figcaption class="figure-caption"><i class="bi bi-star"></i><b>9.5/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/img_1.png"
       class="figure-img img-thumbnail img-fluid rounded"
       alt="Acorners in a figure.">
  <figcaption class="figure-caption">Movie 1 Title</figcaption>
  <figcaption class="figure-caption"><i class="bi bi-star"></i><b>9.5/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/img_1.png"
       class="figure-img img-thumbnail img-fluid rounded"
       alt="Acorners in a figure.">
  <figcaption class="figure-caption">Movie 1 Title</figcaption>
  <figcaption class="figure-caption"><i class="bi bi-star"></i><b>9.5/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/img_1.png"
       class="figure-img img-thumbnail img-fluid rounded"
       alt="Acorners in a figure.">
  <figcaption class="figure-caption">Movie 1 Title</figcaption>
  <figcaption class="figure-caption"><i class="bi bi-star"></i><b>9.5/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/img_1.png"
       class="figure-img img-thumbnail img-fluid rounded"
       alt="Acorners in a figure.">
  <figcaption class="figure-caption">Movie 1 Title</figcaption>
  <figcaption class="figure-caption"><i class="bi bi-star"></i><b>9.5/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/img_1.png"
       class="figure-img img-thumbnail img-fluid rounded"
       alt="Acorners in a figure.">
  <figcaption class="figure-caption">Movie 1 Title</figcaption>
  <figcaption class="figure-caption"><i class="bi bi-star"></i><b>9.5/10</b></figcaption>
</figure>

